@charset "UTF-8";
@font-face {
  font-family: "Roboto", sans-serif;
  font-family: "Shrikhand", cursive;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}

/** neutralisation des styles par défaut des listes **/
ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

/** suppression du soulignement et de l'affichage en bleu des liens**/
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

body {
  font-family: "Roboto";
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header #logo {
  width: 45%;
}
header #logo img {
  width: 100%;
  margin: 15% 0 5%;
}

main .ville {
  height: 15vw;
  background-color: #eaeaea;
}
main .ville__gradient {
  height: 1.5vw;
  background: linear-gradient(#d1d1d1, #eaeaea);
}
main .ville__info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 13.5vw;
  margin: auto;
  font-weight: 900;
}
main .ville__info i {
  position: absolute;
  left: 0;
}
main .explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9%;
  background-color: #f6f6f6;
  text-align: center;
}
main .explorer h1 {
  /*             padding: 10% 10% 0 10%; */
  font-size: 1.6rem;
  font-weight: 900;
}
main .explorer .baseline {
  padding: 5% 0;
  font-size: 1.1rem;
  line-height: 1.3rem;
}
main .explorer .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 12vw;
  border-radius: 25px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0 1.5vw 2vw #d0d0d0;
  font-weight: 500;
  color: white;
}
main .fctt {
  padding: 5vw;
}
main .fctt__etape {
  position: relative;
  display: flex;
  align-items: center;
  width: 84vw;
  height: 20vw;
  left: 3vw;
  margin-bottom: 1rem;
  border-radius: 25px;
  background-color: #f6f6f6;
  box-shadow: 0 1.5vw 2vw #d0d0d0;
  color: #777777;
  font-weight: 700;
  transition: background-color 400ms, color 400ms 150ms;
}
main .fctt__etape:hover {
  background-color: #f2eafb;
  color: #9356DC;
}
main .fctt__etape__nb {
  position: absolute;
  width: 6vw;
  height: 6vw;
  left: -3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #9356DC;
  font-size: 0.7rem;
  color: white;
}
main .fctt__etape i {
  margin: 0 5vw 0 7vw;
}
main .fctt__etape__txt {
  width: 100%;
  color: initial;
}

.restaurants {
  padding: 5vw;
  background-color: #f6f6f6;
}
.restaurants .card {
  position: relative;
  margin-bottom: 5vw;
  border-radius: 25px;
  box-shadow: 0 1.5vw 2vw #d0d0d0;
  overflow: hidden;
}
.restaurants .card__img img {
  width: 100%;
}
.restaurants .card__info {
  position: relative;
  padding: 4.5vw;
  font-size: 1.5rem;
}
.restaurants .card__info__name {
  font-weight: 700;
}
.restaurants .card__info__off {
  position: absolute;
  top: 6vw;
  right: 6vw;
  background-color: #9356DC;
  font-size: 2.5rem;
}
.restaurants .card__info__on {
  position: relative;
  z-index: 10;
  width: 5vw;
  height: 5vw;
  background-color: white;
  color: rgba(147, 86, 220, 0);
}
.restaurants .card__info .heart {
  width: 5vw;
  height: 5vw;
  background-color: black;
}
.restaurants .card__new {
  position: absolute;
  z-index: 1;
  top: 5%;
  right: 5%;
  width: 20vw;
  height: 2.5rem;
  padding: 0.5rem 0;
  border-radius: 0.5vw;
  background-color: #99E2D0;
  box-shadow: 0 1.5vw 2vw #d0d0d0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: #278870;
}

footer {
  padding: 7vw;
  background-color: #353535;
  color: white;
}
footer h1 {
  font-family: "Shrikhand";
}
footer .footer__menu {
  line-height: 1.8rem;
  margin-bottom: 3vw;
}
footer .footer__menu li:not(:nth-last-child(-n+2)) {
  font-weight: bold;
}
footer .footer__menu i {
  margin-right: 2vw;
}

/*# sourceMappingURL=style.css.map */
