// LOADER
$rotate-dur: 2s;
@keyframes rotate {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}

$fadein-dur: 2s;
@keyframes fadein--1 {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
        transform: translateX(-145%);
    }
}

@keyframes fadein--2 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
        transform: translateX(-25%);
    }
}

@keyframes fadein--3 {
    0% {
        opacity: 0;
        transform: translateX(15%);
    }
    50% {
        opacity:0.2;
    }
    100% {
        opacity: 1;
        transform: translateX(70%);
    }
}

@keyframes scale--4 {
    0% {

        opacity: 0;
    }
    75% {
        opacity: 0.7;

    }
    80% {
        opacity: 0.7;
        transform: scale(0.65);
    } 
    99% {
        opacity: 0.8;
        transform: scale(0.65);
    }
    100% {
        transform: scale(0.65);
        opacity: 0.8;
    }  
}

@keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;    z-index: -999;}
}

// REMPLISSAGE COEUR
@keyframes heartfade {
    0% {
        color: black;
    }
    
    86% {
        color: black;
    }
    99% {
        transform: scale(1);
    }
    100% {
        color: transparent;
        transform: scale(0.9);
    }
}
@keyframes heartfill {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    
    17% {
        opacity: 0.7;
    }
    85% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

// APPARITION DES PLATS
$cardappear-dur: 1s;
@keyframes cardappeark {
    0% {
        transform: translateY(1.5vw);
    }
    20% {
        transform: translateY(1.5vw);
    }
    33% {
        opacity: 0.5;
    }
    80% {
        transform: translateY(0);
    }
    100% {
        opacity: 1;
    }
}

// SELECTION D'UN PLAT
$selec-dur: 500ms;
@keyframes platselec_selec_i {
    0% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}
