/* loader */
$rotate-dur: 2s;
@keyframes rotate {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}

$fadein-dur: 3s;
@keyframes fadein--1 {
    0% {
        opacity: 0;
        transform: translateX();
    }
    5% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
        transform: translateX(-17vw);
    }
}

@keyframes fadein--2 {
    0% {
        opacity: 0;
        transform: translateX();
    }
    60% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
        transform: translateX(-5vw);
    }
}

@keyframes fadein--3 {
    0% {
        opacity: 0;
        transform: translateX();
    }
    60% {
        opacity:0.2;
    }
    100% {
        opacity: 1;
        transform: translateX(0.5vw);
    }
}

@keyframes scale--4 {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    80% {
        opacity: 0.7;
        transform: scale(0.65);
    } 
    99% {
        opacity: 0.8;
        transform: scale(0.65);
    }
    100% {
        transform: scale(0.65);
        opacity: 0.8;
    }  
}

@keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;    z-index: -999;}
}

/* remplissage coeur */

@keyframes heartfade {
    0% {
        color: black;
    }
    
    86% {
        color: black;
    }
    99% {        scale: 1;}
    100% {
        color: transparent;
        scale: 0.9;
    }
}
@keyframes heartfill {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    
    17% {
        opacity: 0.7;
    }
    85% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes spinner__plate {
    0% {
        stroke: black;
        fill: transparent;
    }
    
    17%,24%,46%,85%,100% {
        fill: url(#gradient);
    }
    17% {
        stroke: grey;

        opacity: 0.5;
    }
    24% {
        stroke: white;
    }
    46% {

    }
    85% {
        stroke: none;
        opacity: 0.7;
    }
    100% {
        stroke: none;
        opacity: 1;
    }
}
@keyframes spinner__ust--1 {

    
}