$font-titre: 'Shrikhand';
$font-texte: 'Roboto';
$header-bg: white;
$footer-bg: #353535;
$footer-text: white;
$color-fond_ville: #eaeaea;
$color-fond: #f6f6f6;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;