@media screen and (min-width:1024px) {
    .btn {
        line-height: 2rem;
        margin: 3%;
    }
    .loader {
        // display: none;
        .spinner {
            width: $plate-size--dsk;
            height: $plate-size--dsk;
        }
    }
    // ACCUEIL
    header {
        padding: 4% 0 2%;
        .home {
            font-size: 150%;
        }
        #logo {
            width: 18%;
        }
    }
    main {
        h1 {
            margin-bottom: 1.4rem;
        }

        .loca {
            .ville {
                height: unset;
                line-height: 2rem;
                &__info {
                    width: 18%;
                }
            }
            .explorer {
                flex-direction: row;
                justify-content: center;
                padding: 0 5%;
                .baseline {
                    h1 {
                        padding: unset;
                        line-height: 2.5rem;
                    }
                    width: 60%;
                    padding-top: unset;
                }
            }
        }
        .fctt {
            display: flex;
            align-items: baseline;
            padding: 5vw;
            h1 {
//                width: 100%;
                margin-bottom: unset;
            }
            .fctt__cont {
                display: flex;
                flex-grow: 1;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
            }
            &__etape {
                width: 25%;
                $width: 1.5rem;
                margin-bottom: unset;
                padding-right: 1rem;
                &__nb {
                    width: $width;
                    height: $width;
                    left: -(calc($width / 2));
                }
                & i {
                    margin: 0 calc($width * 0.75) 0 calc($width * 1.25);
                }
            }
        }
        .restaurants {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 1rem;
            width: 100%;
            padding: 3vw 5vw;
            h1 {
                width: 100%;
            }
            .card {
                width: 20%;
                min-width: 250px;
                margin-bottom: unset;
                &__info {
                    padding: 1rem;
                }
            }
        }
    }

    //RESTAURANTS
    MAIN {
        .resto__header {
            width: 25%;
            height: 14vw;
            margin: auto;
            overflow: hidden;
            border-radius: 25px;
            & img {
                transform: translateY(-1rem);
            }
        }
        .menu {
            background-color: unset;
            padding: 0 5vw 5vw;
            .menu__header {
                justify-content: center;
                margin: auto;
                padding-top: 1.5vw;
                padding-right: 1rem;
                h1 {
                    margin: 0 5vw 0 0;
                }
                .heart {
                    position: unset;
                }
            }
            .btn {
                margin: auto;
            }
        }
        #cat__container {
            display: flex;
            justify-content: space-between;
            gap: 2rem;
            .cat {
                position: relative;
                gap: 1rem;
                width: 30%;
                margin: 4vw 0 5vw;
                padding: 1rem;
                border-radius: 1rem;
                background-color: $color-fond;
                .h2__style {
                    margin-bottom: unset;
                }
                .card {
                    margin-bottom: unset;
                    padding: 1rem;
                    &:hover > .card__prix {
                        // right: $prix_right_dsk2;
                        right: calc($prix_right_dsk + calc($selec_width * 0.8));
                    }
                    &__info {
                    }
                    &__nom {

                    }
                    &__detail {
                        padding-top: 0.26rem;
                    }
                    &__prix {
                        right: 1.5rem;
                        padding-bottom: 0.9rem;
                    }
                    &__selec {
                        font-size: 150%;
                    }
                }
            }
        }
    }

    footer {
        padding: 5vw;
        text-align: right;
        .footer__menu {
            margin-bottom: 0;
        }
    }
}