@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin box-shadow($int) {
    box-shadow: 0 0.235rem 0.5rem darken($color-fond, $int);
}
@mixin box-shadow--hover($int) {
    box-shadow: 0 0.35rem 0.47rem darken($color-fond, $int);
}

/*SPINNER */
@mixin spinner__plate {
    position: absolute;
    border-radius: 50%;
    border: solid 2px $color-primary;
    border-left-color: transparent;
    border-right-color: transparent;
}

@mixin loader__txt {
    position: absolute;
    font-family: $font-titre;
    font-size: 290%;
    opacity: 0;
}

/* COEUR */
@mixin heart {
    @include flexcenter;
    position: absolute;
    bottom: 3rem;
    right: 2.5rem;
    z-index: 10;
    &:hover > .heart__empty {
        animation: heartfade 400ms ease-in-out forwards;
    }
    &:hover > .heart__full {
        animation: heartfill 400ms ease-out forwards;
    }
}
@mixin heart__empty {
    position: absolute;
    background: linear-gradient(to top right, $color-secondary, $color-primary);
    background-clip: text; -webkit-background-clip: text;
    color: black;
    cursor: pointer;
}
@mixin heart__full {
    position: absolute;
    background: linear-gradient(to top right, $color-secondary, $color-primary);
    opacity: 0;
    transform-origin: 50% 50%;
    background-clip: text; -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
}

@mixin card {
    position: relative;
    border-radius: 1rem;
    @include box-shadow(12%);
    background-color: white;
    overflow: hidden;
    font-size: 115%;
    &:hover {
        @include box-shadow--hover(20%);
    }
}

//APPARITION DES PLATS
@mixin cardappear($delay) {
    $delay-stash: calc($cardappear-dur / $delay);
    @if unitless($delay-stash) {
        $delay-def: #{$delay-stash}s;
        animation: cardappeark $cardappear-dur $delay-def ease-out forwards;
    }
        @else {
            $delay-def: calc($delay-stash + 1s);
            animation: cardappeark $cardappear-dur $delay-def ease-out forwards;
        }

//     animation: cardappeark $cardappear-dur $delay-def ease-out forwards;
}