@font-face {
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', cursive;
}

@import "reset";
@import "charte_graphique";
@import "variables";
@import "animations";
@import "mixins";


html {
    font-size: 1vw;
}
body {
    font-family: 'Roboto';
}

.loader {
    position: absolute;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
    background-color: rgba(255,255,255,1);

    .spinner {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &__plate {

            &--1 {
                width: $plate-size;
                height: $plate-size;
                @include spinner__plate;
                animation: rotate $rotate-dur alternate infinite;
            }
            &--2 {
                width: $plate-size*0.95;
                height: $plate-size*0.95;
                transform: rotate(15deg);
                @include spinner__plate;
                animation: rotate $rotate-dur/2 alternate-reverse infinite;
            }
            &--3 {
                width: $plate-size*0.7;
                height: $plate-size*0.7;
                transform: rotate(-40deg);
                @include spinner__plate;
                animation: rotate $rotate-dur alternate-reverse infinite;
            }
            &--4 {
                width: $plate-size*0.65;
                height: $plate-size*0.65;
                transform: rotate(-55deg);
                @include spinner__plate;
                animation: rotate $rotate-dur*10 alternate infinite;
            }
        }
    }

    .loader__txt {
        @include flexcenter;
        font-family: $font-titre;
        &--1 {
            @include loader__txt;
            animation: fadein--1 $fadein-dur $fadein-dur*1.2;
        }
        &--2 {
            @include loader__txt;
            animation: fadein--2 $fadein-dur $fadein-dur*1.2;
        }
        &--3 {
            @include loader__txt;
            animation: fadein--3 $fadein-dur $fadein-dur*1.2;
        }
        &--4 {
            @include loader__txt;
            animation: scale--4 $fadein-dur $fadein-dur*2.1 forwards;
        }
    }

}

header {
    @include flexcenter;
    width: 100%;
    #logo {
        width: 45%;
        img {
            width:100%;
            margin: 15% 0 5%;
        }
    }
}

main {
    .ville {
        height: $ville-hgt;
        background-color: $color-fond_ville;
        &__gradient {
            height: $gradient-hgt;
            background: linear-gradient(darken($color-fond_ville,10%), $color-fond_ville);
        }
        &__info {
            position: relative;
            @include flexcenter;
            width: 45%;
            height: ($ville-hgt)-($gradient-hgt);
            margin: auto;
            font-weight: 900;
            i {
                position: absolute;
                left: 0;
            }
        }
    }
    .explorer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 9%;
        background-color: $color-fond;
        text-align: center;
        h1 {
/*             padding: 10% 10% 0 10%; */
            font-size: 1.6rem;
            font-weight: 900;
        }
        .baseline {
            padding: 5% 0;
            font-size: 1.1rem;
            line-height: 1.3rem;
        }
        .btn {
            @include flexcenter;
            width:75%;
            height: 12vw;
            border-radius: 25px;
            background: linear-gradient(to bottom right, $color-secondary, $color-primary);
            box-shadow: $box-shadow;
            font-weight: 500;
            color: white;
            &:hover {
                box-shadow: $box-shadow--hover;
                background: linear-gradient(to bottom right, lighten($color-secondary, 2%), lighten($color-primary, 2%));;
            }
        }
    }

    .fctt {
        padding: 5vw;
        &__etape {
            position: relative;
            display: flex;
            align-items: center;
            width: 84vw;
            height: $etape-hgt;
            left: 3vw;
            margin-bottom: 1rem;
            border-radius: 25px;
            background-color: $color-fond;
            box-shadow: $box-shadow;
            color: darken($color-fond, 50%);;
            font-weight: 700;
            transition: background-color 400ms, color 400ms 150ms;
            &:hover {
                background-color: lighten($color-primary, 35%);
                color: $color-primary;
            }
            &__nb {
                position: absolute;
                width: 6vw;
                height: 6vw;
                left: -3vw;
                @include flexcenter;
                border-radius: 50%;
                background-color: $color-primary;
                font-size: 0.7rem;
                color: white;
            }
            i {
                margin: 0 5vw 0 7vw;
            }
            &__txt {
                width: 100%;
                color: initial;
            }
        }
    }
}

    .restaurants {
        padding: 5vw;
        background-color: $color-fond;
        .card {
            position: relative;
            margin-bottom: 5vw;
            border-radius: 25px;
            box-shadow: $box-shadow;
            overflow: hidden;
            &__img {
                & img {            width: 100%; }
            }
            &__info {
                position: relative;
                padding: 4.5vw;
                font-size: 1.5rem;
                &__name {
                    font-weight: 700;
                }
                &__loc {}

                .heart {
                    position: absolute;
                    top: 6vw;
                    right: 8vw;
                    z-index: 10;
                    width: 5vw;
                    height: 5vw;
                    fill: transparent;
                    stroke-width: 10;

                    &__full {
                        stroke: black;
                        fill: transparent;
                        opacity: 1;
                        &:hover {
                            animation: heartfill 2s ease-in-out forwards;
                        }
                    }

                        .stop1 { stop-color: $color-primary; }
                        .stop2 { stop-color: $color-secondary; }
                        .stop3 { stop-color: $color-secondary; }  
                        
                }
            }
                
            
            &__new {
                position: absolute;
                z-index: 1;
                top: 5%;
                right: 5%;
                width: 20vw;
                height: 2.5rem;
                padding: 0.5rem 0;
                border-radius: 0.5vw;
                background-color: $color-tertiary;
                box-shadow: $box-shadow;
                text-align: center;
                font-size: 1.2rem;
                font-weight: 700;
                color: darken($color-tertiary, 40%);
            }
        }
    }

    footer {
        padding: 7vw;
        background-color: $footer-bg;
        color: $footer-text;
        h1 {
            font-family: $font-titre;
        }
        .footer__menu {
            line-height: 1.8rem;
            margin-bottom: 3vw;
            li:not(:nth-last-child(-n+2)) {
                font-weight: bold;
            }
            i {
                margin-right: 2vw;
            }
        }
    }
