@font-face {
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', cursive;
}

@import "reset";
@import "charte_graphique";
@import "variables";

body {
    font-family: 'Roboto';
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    #logo {
        width: 45%;
        img {
            width:100%;
            margin: 15% 0 5%;
        }
    }
}

main {
    .ville {
        height: $ville-hgt;
        background-color: $color-fond_ville;
        &__gradient {
            height: $gradient-hgt;
            background: linear-gradient(darken($color-fond_ville,10%), $color-fond_ville);
        }
        &__info {
            display: flex;
            justify-content: center;
            align-items: center;
            height: ($ville-hgt)-($gradient-hgt);
            font-weight: 900;
        }
    }
    header {
        flex-direction: column;
        background-color: $color-fond;
        text-align: center;
        h1 {
            font-size: 2rem;
        }
        .baseline {
            font-size: 1.5rem;
        }
        .btn {
            width:60%;
            border-radius: 25%;
            background: linear-gradient(to bottom right, $color-secondary, $color-primary);
            color: white;
        }
    }
}
footer {
    padding: 7vw;
    background-color: $footer-bg;
    color: $footer-text;
    h1 {
        font-family: $font-titre;
    }
    .footer__menu {
        line-height: 1.8rem;
        margin-bottom: 3vw;
        li:not(:nth-last-child(-n+2)) {
            font-weight: bold;
        }
        i {
            margin-right: 2vw;
        }
    }
}