@font-face {
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', cursive;
}

@import "reset";
@import "charte_graphique";
@import "variables";

body {
    font-family: 'Roboto';
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    #logo {
        width: 45%;
        img {
            width:100%;
            margin: 15% 0 5%;
        }
    }
}

main {
    .ville {
        height: $ville-hgt;
        background-color: $color-fond_ville;
        &__gradient {
            height: $gradient-hgt;
            background: linear-gradient(darken($color-fond_ville,10%), $color-fond_ville);
        }
        &__info {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45%;
            height: ($ville-hgt)-($gradient-hgt);
            margin: auto;
            font-weight: 900;
            i {
                position: absolute;
                left: 0;
            }
        }
    }
    .explorer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 9%;
        background-color: $color-fond;
        text-align: center;
        h1 {
/*             padding: 10% 10% 0 10%; */
            font-size: 1.6rem;
            font-weight: 900;
        }
        .baseline {
            padding: 5% 0;
            font-size: 1.1rem;
            line-height: 1.3rem;
        }
        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width:75%;
            height: 12vw;
            border-radius: 25px;
            background: linear-gradient(to bottom right, $color-secondary, $color-primary);
            box-shadow: $box-shadow;
            font-weight: 500;
            color: white;
        }
    }

    .fctt {
        padding: 5vw;
        &__etape {
            position: relative;
            display: flex;
            align-items: center;
            width: 84vw;
            height: $etape-hgt;
            left: 3vw;
            margin-bottom: 1rem;
            border-radius: 25px;
            background-color: $color-fond;
            box-shadow: $box-shadow;
            color: darken($color-fond, 50%);;
            font-weight: 700;
            transition: background-color 400ms, color 400ms 150ms;
            &:hover {
                background-color: lighten($color-primary, 35%);
                color: $color-primary;
            }
            &__nb {
                position: absolute;
                width: 6vw;
                height: 6vw;
                left: -3vw;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: $color-primary;
                font-size: 0.7rem;
                color: white;
            }
            i {
                margin: 0 5vw 0 7vw;
            }
            &__txt {
                width: 100%;
                color: initial;
            }
        }
    }
}

.restaurants {
    padding: 5vw;
    background-color: $color-fond;
    .card {
        position: relative;
        margin-bottom: 5vw;
        border-radius: 25px;
        box-shadow: $box-shadow;
        overflow: hidden;
        &__img {
            & img {            width: 100%; }
        }
        &__info {
            position: relative;
            padding: 4.5vw;
            font-size: 1.5rem;
            &__name {
                font-weight: 700;
            }
            &__loc {}
            &__off {
                position: absolute;
                top: 6vw;
                right: 6vw;
                background-color: $color-primary;
                font-size: 2.5rem;
            }
            &__on {
                position: relative;
                z-index: 10;
                width: 5vw;
                height: 5vw;
                background-color: white;
                color: rgba(147,86,220,0);
            }

            .heart {
                width: 5vw;
                height: 5vw;
                background-color: black;}
        }
        


        
        
        &__new {
            position: absolute;
            z-index: 1;
            top: 5%;
            right: 5%;
            width: 20vw;
            height: 2.5rem;
            padding: 0.5rem 0;
            border-radius: 0.5vw;
            background-color: $color-tertiary;
            box-shadow: $box-shadow;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 700;
            color: darken($color-tertiary, 40%);
        }
    }
}
footer {
    padding: 7vw;
    background-color: $footer-bg;
    color: $footer-text;
    h1 {
        font-family: $font-titre;
    }
    .footer__menu {
        line-height: 1.8rem;
        margin-bottom: 3vw;
        li:not(:nth-last-child(-n+2)) {
            font-weight: bold;
        }
        i {
            margin-right: 2vw;
        }
    }
}