@media screen and (min-width: 770px) and (max-width:1024px) {
    body {
        font-size: 90%;
    }
    .btn {
        line-height: 2rem;
        margin: 3%;
    }
    .loader {
        // display: none;
        .spinner {
            width: $plate-size--dsk;
            height: $plate-size--dsk;
        }
    }
    // ACCUEIL
    header {
        padding: 4% 0 2%;
        .home {
            font-size: 150%;
        }
        #logo {
            width: 18%;
        }
    }
    main {
        h1 {
            margin-bottom: 1.4rem;
        }

        .loca {
            .ville {
                height: unset;
                line-height: 2rem;
                &__info {
                    width: 18%;
                }
            }
            .explorer {
                flex-direction: row;
                justify-content: center;
                padding: 0 5%;
                .baseline {
                    h1 {
                        padding: unset;
                        line-height: 2.5rem;
                    }
                    width: 60%;
                    padding-top: unset;
                }
            }
        }
        .fctt {
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            padding: 5vw;
            h1 {
//                width: 100%;
                // margin-bottom: unset;
            }
            .fctt__cont {
                display: flex;
                flex-grow: 1;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
            }
            &__etape {
                width: 25%;
                $width: 1.5rem;
                margin-bottom: unset;
                padding-right: 1rem;
                &__nb {
                    width: $width;
                    height: $width;
                    left: -(calc($width / 2));
                }
                & i {
                    margin: 0 calc($width * 0.75) 0 calc($width * 1.25);
                }
            }
        }
        .restaurants {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 1rem;
            width: 100%;
            padding: 3vw 5vw;
            @media screen and (max-width:869px) {
                justify-content: space-evenly;
            }
            h1 {
                width: 100%;
            }
            .card {
                width: 20%;
                min-width: 250px;
                margin-bottom: unset;
                @media screen and (max-width:869px) {
                    margin-bottom: 2rem;
                }
                &__info {
                    padding: 1rem;
                }
            }
        }
    }

    //RESTAURANTS
    MAIN {
        .resto__header {
            width: 30%;
            height: 14vw;
            margin: auto;
            overflow: hidden;
            border-radius: 25px;
            & img {
                transform: translateY(-1rem);
            }
        }
        .menu {
            background-color: unset;
            padding: 0 3vw 2rem;
            .menu__header {
                justify-content: space-evenly;
                width: 35%;
                margin: auto;
                padding: 1rem 1rem 0 0;
                h1 {
                    margin: 0 1rem 0 0;
                    font-weight: unset;
                }
                .heart {
                    position: unset;
                }
            }
            .btn {
                margin: auto;
            }
        }
        #cat__container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2rem;
            padding: 2rem 0;
            .cat {
                position: relative;
                flex-flow: row wrap;
                justify-content: space-between;
                gap: 1rem;
                width: 100%;
                margin: 0;
                padding: 0.8rem;
                border-radius: 1rem;
                background-color: $color-fond;
                .h2__style {
                    margin-bottom: unset;
                }
                .card {
                    width: 31.5%;
                    margin-bottom: unset;
                    padding: 0.7rem 0.8rem;
                    font-size: 100%;
                    &:hover > .card__prix {
                        right: calc($prix_right_tab + calc($selec_width_tab * 0.8));
                    }
                    &:hover > .card__selec {
                        right: 0;
                    }
                    &__info {
                    }
                    &__nom {

                    }
                    &__detail {
                        padding-top: 0.26rem;
                    }
                    &__prix {
                        right: $prix_right_tab;
                        padding-bottom: 0.6rem;
                        // transition: right calc($selec-dur * 0.95) calc($selec-dur * 0.06) ease-in-out;
                        transition: right calc($selec-dur * 0.75) calc($selec-dur * 0.17) ease-in-out;
                    }
                    &__selec {
                        width: 22%;
                        right: -22%;
                        font-size: 150%;
                        transition: right $selec-dur ease-in-out;
                    }
                }
            }
        }
    }

    footer {
        padding: 5vw;
        text-align: right;
        .footer__menu {
            margin-bottom: 0;
        }
    }
}