/* loader */
$plate-size: 40vw;
$plate-size--dsk: 9.5rem;


$ville-hgt: 13vw;
$gradient-hgt: 0.35rem;
$box-shadow: 0 1vw 5vw darken($color-fond, 12%);
$box-shadow--hover: 0 1.5vw 2vw darken($color-fond, 20%);
$etape-hgt : 20vw;

$prix_right: 6vw;
$selec_width: 20%;
$prix_right2: calc($prix_right + $selec_width);