// LOADER
$plate-size: 40vw;
$plate-size--dsk: 9.5rem;

// ACCUEIL : LOCALISATION
$ville-hgt: 13vw;
$gradient-hgt: 0.35rem;
$etape-hgt : 20vw;

// SLELECTION DES PLATS
$prix_right_mob: 7%;
$prix_right_tab: 1rem;
$prix_right_dsk: 1.5rem;
$selec_width: 20%;